@media only screen and (max-width: 768px) {
    .container {
        margin: 2vh auto;
        padding: 2vh;
    }
    .header-logo {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 0 0 1rem;
    }
    .logo{
        border-right: none;
        padding: 0 0 1rem 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid #000;
    }

    .nav-item a {
        font-size: 1.2rem;
    }

    .featured-products, .new-item {
        max-width: 98%;
        margin: 1%;
    }

    .news-block, .about-us-block, .contacts-block {
        max-width: initial
    }

    .about-us-block {
        margin: 3rem 0;
    }

    .product{
        max-width: 48%;
        margin: 3vh 0;
      }

    .modal-content {
        width: 100%;
      }

      .gallery-about-us img{
        width: 47%;
      }

}

@media only screen and (max-width: 600px) {
    .container{
        margin: 0;
        padding: 5vh;
        width: 100%;
    }
    .company-logo{
        max-height: 2rem;
    }
    .slogan {
        font-size: 1.2rem;
    }
    .menu-btn {
        display: block;
        position: relative;
        z-index: 1;
        height: 3rem;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
    .menu-btn-burger,
    .menu-btn-burger::before,
    .menu-btn-burger::after{
        position: absolute;
        right:0;
        top: 1.3rem;
        width: 2rem;
        height: 0.2rem;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: var(--text-secondary-color);
    }

    .menu-btn-burger::before {
        content: '';
        top: -0.55rem;
    }
      
    .menu-btn-burger::after {
        content: '';
        top: 0.55rem;
    }

    .menu-btn-burger.open {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
        background: transparent;
    }

    .menu-btn-burger.open::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
    }

    .menu-btn-burger.open::after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
    }

    .nav-list{
        display: none;
    }

    .nav-list.open {
        display: flex;
        flex-direction: column;
    }

    .footer-nav-list{
        display: none;
    }

    .product{
        max-width: 98%;
        margin: 2vh 0;
    }

    .gallery-about-us img{
        width: 100%;
    }
    
    .contacts-item,
    iframe{
        height: 100%;
        width: 75vw;
        margin: 3% 0;
    }
}